@charset "UTF-8";

/* Todas as demais mídias */


@media print {   /* impressão */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    
    body {
        background-image: url(imagens/back-print.jpg); /* desnecessário */
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }
}



@media screen and (min-width: 768px) and (max-width: 992px) {   /*tablet */
    body {
        background-image: url(imagens/back-tablet.jpg);
    }
    
    main {
        width: 500px;
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }   
}



@media screen and (min-width: 992px) and (max-width: 1200px) {   /* desktop */
    body {
        background-image: url(imagens/back-pc.jpg);
    }

    main {
        width: 600px;
    }
    
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }   
}



@media screen and (min-width: 1200px) {   /* grandes telas */
    body {
        background-image: url(imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }
    
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }   
}