@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #F2E8DF, #F2C6C2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #728d85c5;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F2B263;
    text-align: center;
    text-shadow: 1px 1px 0px #6d867fbd;
}

h2 {
    color: #86A69D;
}



p {
    text-align: justify;
}
